<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/">Catalogue</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/catalogue">Home</a>
    </li>

    <li class="nav-item dropdown" *ngIf="isLogged">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
        Administration
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/products">Products</a>
        <a *ngIf="isAdmin" class="dropdown-item" routerLink="/admin/categories">Categories</a>
        <a *ngIf="isAdmin" class="dropdown-item" routerLink="/admin/users">Users</a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto" *ngIf="isLogged == false">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Sign In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/register">Sign Up</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto" *ngIf="isLogged">
    <li class="nav-item">
      <a class="nav-link cur-pointer" (click)="onLogout()">Logout</a>
    </li>
  </ul>
</nav>
